__pycache__/
*.swp
*.py[cod]
utils/__pycache__/

data/wn18/digitized_*
data/wn18/r2id.txt
data/wn18/e2id.txt

data/fb15k/digitized_*
data/fb15k/r2id.txt
data/fb15k/e2id.txt

data/fb1m/digitized_*
data/fb1m/r2id.txt
data/fb1m/e2id.txt

analysis.py
r_counts.txt

log/*.log
